
.translation{
    animation: translation 1s infinite;
}

@keyframes translation {

    from{
        transform : translateX(-50px);
	}
	50%{
        transform : translateX(50px);
	}
    to{
        transform : translateX(-50px);

    }
}