@include media (mobile)
{

        .archive #content #section #primary #main{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 30% 30%;
        }


}


@include media (tablet)
{
        .archive #content #main{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 30% 30% 30%;
        }

}

@include media (desktop)
{

         .archive #content .entry-title{
            font-size: 120%;
        }
        
        .archive #main{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 30% 30% 30% 30%;
        }
        
        .archive #main header {
            position: absolute;
            top: 70%;
            left: -13%;
        }
        
        
        .archive .navigation {
            position: absolute;
            top: 130%;
            left: 65%;
        }


}
